body {
  height: 100vh;
  margin: 0;
  padding: 0;

  font-size: 18px;
}

.page {
  height: 94vh;
}

.authPage {
  display: flex;
  flex-flow: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
}

.textGray {
  color: #aba398;
}
