@import url(./reset.css);

body {
  height: 100vh;
  margin: 0;
  padding: 0;

  font-size: 18px;
}

.page {
  position: relative;
  height: 94vh;
}

.authPage {
  display: flex;
  flex-flow: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
}

.textGray {
  color: #aba398;
}

.cardsLayer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.absCentered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --text-color: white;
  --text-color-highlight: #e3ad66;

  --bg-color-items: #3c3e44;
  --bg-color-page: #272b33;
}
