.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  width: 500px;
  padding: 0 10px 0 20px;

  border-radius: 0.5rem;
  background: var(--bg-color-items);
  color: var(--text-color) !important;

  cursor: pointer;
}

.item:hover {
  outline: blue solid 2px;
}
